---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "關慧瑕";
const mimg = "/images/analyst/ah0004.gif";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
<div>{mname}</div>
  <img src={mimg}>
  <div>◎ 簡介英培爾大學教育心理學管理博士
    ◎ 教育科學碩士（課程開發和評估）澳門高等校際學院
    ◎ 英語文學學士（專修博意系)
    ◎ 皮紋分析及咨詢師
    ◎ 澳洲註冊培訓和評估培訓師
    ◎ 澳大利亞克蘭本學前教育顧問
    ◎ 日本玩具遊戲導師
    ◎ 積木課程研發高級導師
    ◎ 全腦發展高級導師
    ◎ 邏輯思維發展高級導師
    ◎ 量身教育國際研究會(澳門) 會長
    ◎ ITTO指定培訓導師
    ◎ TID指定培訓導師
    ◎ 中國註冊金融分析師協會專業講師
    ◎ 香港卡頓書院教務長</div>
</Layout>
