---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "陳蘊文";
const mimg = "/images/analyst/at0003.gif";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img src={mimg} class="object-scale-down w-96">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">{mname}</div>
        <a href="#" class="block mt-1 text-sm leading-tight font-medium text-black word-break">◎ 台南科技大學音樂系，主修鋼琴
    ◎ 河合鋼琴兒童音樂班講師、朱宗慶兒童打擊教學系統講師
    ◎ 「陳蘊文音樂空間」創辦人
    ◎ 凱薩琳音樂教學系統講師
    ◎ MME量身教育國際研究會高階皮紋分析師
    ◎ 發表2006年國家圖書館－皮紋檢測運用於音樂智能研究論文
  </a>
</div>
</div>
</div>
</Layout>
