---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "賴翠莞 博士 1956.07.12";
const mimg = "/images/analyst/at0001.png";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
      <div class="md:flex">
        <div class="md:flex-shrink-0">
          <img src={mimg} class="object-scale-down w-96">
        </div>
        <div class="p-8">
          <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">{mname}</div>
          <a href="#" class="block mt-1 text-sm leading-tight font-medium text-black word-break">
            <p>臺北市立教育大學畢業（前女子師範學院）</p><p>
            教美國南加大教育榮譽博士－甄選論文－「教育的共同語言的呼籲」</p><p>
            教育局園長儲訓班結業</p><p>
            開創園所:生活家量身教育實踐幼稚園創園園長、新莊永錡幼稚園創園、士林世霖幼稚園創園園長、幼祥幼稚園創園園長…</p><p>
            新莊聯誼會84年會長</p><p>
            曾聘任實踐大學教育學程實習輔導教師</p><p>
            中華量身教育國際研究會創會會長</p><p>
            台北市量身教育國際研究會創會會長</p><p>
            MME膚紋學檢測研發22年</p><p>
            MME檢測工具論文總指導師</p><p>
            量身教育國際研究會教育皮紋學應用之研發與講師</p><p>
            ✽2018年獲得列入-中華指紋發明史考的叢書中</p><p>
            會員分佈于:</p><p>
            中國、美國、馬來西亞、香港、以色列、臺灣、英國、印尼</p><p>
            新加坡、澳門…陸續開發中。</p><p>
            ◎教育局委任:</p><p>
            臺北市中正區教育召集人</p><p>
                臺北市幼稚園園長儲訓成績評量委員</p><p>
                臺北市幼稚園園長儲訓園務行政管理講師</p><p>
                基隆市幼稚園園長儲訓園務行政管理講師</p><p>
                廈門湖裡區園長培訓講師</p><p>
                廈門湖裡區公私立教師培訓</p><p>
              e時代成功園長培訓(臺灣、昆明、深圳、福建、廣州)</p><p>
            </p><p>
            ◎發表與顧問資歷</p><p>
            1.	皮紋學與行為、認知上的運用－泰國首屆醫用掌紋發表會(2003年4月)</p><p>
            2.	中華民國優勢光譜教育發展協會教學指導顧問</p><p>
            3.	優勢光譜教案品格教育編輯指導顧問</p><p>
            4.	臺北市自閉症協會教育顧問</p><p>
            5.	臺北縣自閉症潛能發展中心教育顧問</p><p>
            6.	上海徐匯區致康兒童建園（腦癱）教育顧問</p><p>
            7.	廈門教育局-教育科學研究所特教師輔導</p><p>
            8.	企業管理公司人力資源顧問</p><p>
            9.	廈門青年就業探討研究- 二千多青少年就業輔導</p><p>
            10.	繪畫分析研究與探討與陸續論文發表</p><p>
            三、曾公開發表之研究專案</p><p>
                * 參加第16屆國際人類學與民族學聯合會-膚紋學之經典和活力</p><p>
                　 主題1-唐氏症與輕中度智障膚紋之比較結論</p><p>
                　 主題2-皮紋學工具用於特殊教育輔導上的價值2009.7</p><p>
            ＊	首屆醫用掌紋發表會：皮紋學與行為、認知上的運用－泰國(2003年4月)</p><p>
            ＊	第一屆行為及醫學生物資料國際會議：皮紋研究方法與成果分享－美國拉斯維加斯(2004年10月)</p><p>
            ＊	第二屆行為及醫學生物資料國際會議：唐氏症與皮紋的關係研究與發表 －上海(2006年3/20-3/21)</p><p>
            ＊	第二屆醫用掌紋發表會：過動症在皮紋上之判讀研究(2006年7/15-7/16)</p><p>
                 海峽兩岸醫療合作與交流論壇：</p><p>
            關於皮紋學用於小兒心智科的價值-中國醫師協會主辦，中國北京(2006年10/29-10/31)</p><p>
            ＊	國際扶輪社臺北慈恩扶輪青年服務團演講：認識自己再出發-我會更好(2007年7/19)</p><p>
            ＊	第三屆行為及醫學生物資料國際會議：皮紋學用於特殊教育的價值－匈牙利布達佩斯(2007.8.19~21)</p><p>
            ＊	廈門教育局與量身教育國際研究會學術研究交流會－2007年10/11-10/12</p><p>
            * 中國重慶大學心理系研究所學術交流</p><p>
            * 海峽兩岸教育論壇-廈門教育科學研究所主辦-2007.10.27</p><p>
            * 第五屆華人心理學大會-杭州東吳大學主辦2005.5月</p><p>
            * 藝術潛能開發與自我實踐研習營之講師2003.9月 2006發表</p><p>
            * 全國膚紋學研究協作組第八屆論文發表-膚紋學運用於教育的價值-中國遺傳學2013.7.13日河南舉辦</p><p>
            ＊	兩岸膚紋學學術交流-皮紋學運用於醫學、教育、心理的三合一整合探討。於2013年11月9-10日臺灣大學-國際會議廳舉辦。</p><p>
            ＊	2018年海峽兩岸膚紋學論文大會-廈門舉辦對弱勢團體的關懷與公益活動</p><p>
            ＊	臺北市自閉症協會</p><p>
            ＊	臺北縣自閉症潛能發展中心</p><p>
            ＊	金門觀護所-青少年行為輔導</p><p>
            ＊	上海致康園-腦性麻痹兒童輔導</p><p>
            ＊	財團法人中華民國唐氏症基金會</p><p>
            ＊	中華民國腦性麻痹協會</p><p>
            ＊	感覺統合與智力發展之關係與輔導策略</p><p>
            ＊	臺灣花蓮啟智學校輔導</p><p>
                * 特效家長輔導-武漢華大文化教育發展有限公司主辦</p><p>
             * 廈門特教輔導-思明、同安 、集美…等學校</p><p>
             * 杭州余杭特教團隊輔導</p><p>
             * 香港特效輔導-普光學校 </p><p>
             * 陽光少年認證輔導</p><p>
              禾山中學青少年專案-陽光少年潛能開發</p><p>
              貴陽13中學青少年專案-陽光少年潛能開發</p><p>
              臺灣MME 青少年專案-陽光少年潛能開發</p><p>
             * 廈門思明特教學校專題研究-智障兒童認知能力與教學對策研究 2013.6.8</p><p>
                * 福州特教學校輔導</p><p>
                *廈門自閉症居家照顧協會顧問</p><p>
                *小兒心智發展初檢評估研發發表</p><p>
            
          </a>
        </div>
      </div>
    </div>
</Layout>
