---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "賴翠媛 Lily";
const mimg = "/images/analyst/at0002.gif";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
<div>{mname}</div>
  <img src={mimg}>
  <div>◎ MME量身教育國際研究會高階分析師、中區執行長
    ◎ 新竹傑恩幼兒園：腦認知與家庭教養輔導老師
    ◎ MME 2018年皮紋學論文協同發表-以MME工具探討繪畫分析花與瓶 之成人花型與花莖研究
    ◎ MME 2013年皮紋學論文集中:青少年之腦認知與策略輔導研究發表 協同研究：MME打造家與園的共贏輔導策略
    ◎ MME 2010年皮紋學論文:作文與皮紋關係及輔導策略研究
    ◎ MME 2006年皮紋學論文:情緒干擾及兒童繪畫圖像分析與心智探討 兩篇文章
    ◎ MME量身教育國際研究會-身心語言潛能檢測-高階分析師(閱6000左 右個案)
    ◎ 台中市才藝教學服務人員職業工會舉辦「高效記憶學習師資訓練班」 之講師群
    ◎ 國際嬰幼兒按摩協會指導父母專業講師-國際證照
    ◎ 吉的堡-大中分校、中工分校教師研習講師-心智繪圖教學
    ◎ 育山托兒所、安親班-教師研習講師--行為氣質與輔導正音、繪本故事
    ◎ 腦與認知之皮紋學研究16年
    ◎ 行為氣質研究12年：行為紀錄觀察、行為氣質分析、幼兒情緒探討
    ◎ 幼兒教育12年：教師、教學主任、作文、故事作文教學
    ◎ 幼兒心智繪圖教學研究6年、創意積木教學研究10年
    ◎ GIMI美國多元智能學院：幼兒系列課程研習結業
    ◎ 藝術治療：台北市立文化中心系列課程結業
    ◎ 藝術潛能開發課程：蘇振明教授系列課程
    ◎ 繪畫圖像分析與心理探究：MME & 蘇振明之整合研究--種子教師
    ◎ 台北市政府委訓社工人員專班結業</div>
</Layout>
