---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "趙翊君";
const mimg = "/images/analyst/at0016.png";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img src={mimg} class="object-scale-down w-96">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">{mname} 1968.04.12</div>
        <a href="#" class="block mt-1 text-sm leading-tight font-medium text-black word-break">
          <p>✽國立台北師範學院幼教系學士</p><p>
          *明道大學教育藝術與療癒研究所在學中</p><p>
          德國萊茵TUVPersCert人員認證精油建康調理師</p><p>
          ✽現職:</p><p>
          ▪社團法人桃園市教保服務人員協會理事長</p><p>
          ▪桃園市私立立人蒙特梭利幼兒園園長93年開始至今仍在職（蒙特梭利) （特教融合教育）</p><p>
          ▪中華量身教育國際研究會合格分析師93年開始至今(行為氣質研究.藝術潛能研究)</p><p>
          ▪世界中醫聠合植物精油療法初階及高階調理師</p><p>
          ▪新北市安溪國小非營利幼兒園負責人</p><p>
          ▪桃園市台灣銀行桃園分行職場互助教保中心負責人</p><p>
          ▪桃園市警察大學誠園員工子女非營利幼兒園負責人</p><p>
          ▪桃園市國防大學率真校區員工子女非營利幼兒園負責人</p><p>
          
        </a>
      </div>
    </div>
  </div>
</Layout>
