---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "趙翊君";
const mimg = "/images/analyst/at0016.gif";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
<div>{mname}</div>
  <img src={mimg}>
  <div>◎ 國立台北師範學院幼教系學士
    ◎ 私立德育護理專科學校幼保科
    ◎ 省立曾文家商幼保科
    ◎ 台北市幼稚園教師證
    ◎ 兒童福利人員主管人員班結業
    ◎ 丙級廚師執照
    ◎ 現職:▪桃園市私立立人蒙特梭利幼兒園園長93年開始共十三年(蒙特梭利) ▪台北量身教育研發中心合格分析師93年開始至今(行為氣質研究.藝術潛能研究) ▪ssehv 台北市人類教育價值學會週末班老師(小學一到六年級) ▪桃園市教保人員協會常務理事 ▪新北市三峽區非營力安溪幼兒園督導 ✽經歷: ▪桃園市私立立人蒙特梭利幼兒園負責人89年開始共十六年(蒙特梭利) 與特教機構寶貝潛能發展中心合作「融合教育」 ▪桃園縣私立立人托兒所教師(蒙特梭利) ▪台北縣新莊及五股地區三所國小附幼代課教師 ▪零至三嬰幼兒教育研工作室指導員(蒙特梭利) ▪國防醫學院共同研究室研究助理(國科會) ▪德育護專幼保中心保育員及教學組長(蒙特梭利) 並參與1.增建教室2.環境規劃3.帶領實習生4.和在學學生分享蒙特梭利教學法 ▪台北縣佳美幼幼稚園花園新城分校實習及代課四個月(角落與主題) ▪桃園縣私立瑪利托兒所教師(蒙特梭利) ▪台北縣私立惠文幼稚園教師 ▪台南市大勇幼稚園教師 ▪巧連智月刊幼兒使用分析員 ▪巧連智月刊親職手冊撰文 ▪德育護專推廣教育中心辦理兩期三到六歲蒙特梭利教師研習教務員 ✽得獎: 民國93年90年桃園縣政府評鑑優等並協助辦理縣內托兒所觀摩 民國89年97年桃園縣政府評鑑甲等(共接受評鑑四次均得獎狀) 國立台北師範學院幼教系期間擔任班長及畢聯會代表並獲得熱心服務敬業樂群獎 德育護專幼保科學會文書組組 民國81年桃園縣幼兒教育事業學會資深績優教師
    ◎ 專長:▪繪畫圖象分析▪幼兒美術教學 ▪皮指紋(腦科學) ▪蒙特梭利三至六歲教育 ▪蒙特梭利零至三歲教育 ▪蒙特梭利六至十二歲數學教育 ▪小幼兒課室管理 ▪九型人格 ▪河洛姓名學▪叙事治療▪隱諭</div>
</Layout>
