---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "郭秉逸";
const mimg = "/images/analyst/at0019.gif";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img src={mimg} class="object-scale-down w-96">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">{mname}</div>
        <a href="#" class="block mt-1 text-sm leading-tight font-medium text-black word-break">◎ 關於「大熊老師」-郭秉逸Top Leader拓立得兒童腦力開發創始人、加拿大國立皇家大學EMBA企業管理碩士、德國兒童腦力教學首席講師、台北市政府教育局專案研習講師、MME量身教育國際研究會分析師；16年兒童教學經驗，培育出了許多IQ140以上的資優生，是台灣十大家族及許多企業頂尖人士二代、三代家庭的腦力開發私人教師:
    ◎ 曾擔任跨國科技公司的專業經理人，因為家庭角色的轉換選擇了兒童教育事業，從當上爸爸的那一刻，就開始了與孩童為伍，以童為師的志業。只要把握2-6歲大腦發育的「黃金期」，建構孩子的全腦智能，孩子們自然能形成主動積極的思考習慣，這是孩子最重要的思維起點 。 「如何讓孩子變得更聰明？成為最好的自己！」就成為了我的使命與人生志業方向。
  </a>
</div>
</div>
</div>
</Layout>
