---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "曾春梅";
const mimg = "/images/analyst/at0007.png";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img src={mimg} class="object-scale-down w-96">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">{mname} 1975.02.19</div>
        <a href="#" class="block mt-1 text-sm leading-tight font-medium text-black word-break">
          <p>1.自我專長-MME皮指紋分析（家庭諮商）</p><p>
          2.學經歷-中台科技大學幼保系畢、曾任職台北市幼天才蒙特梭利幼兒園、新北市新佳美主題教學幼兒園、台中愛兒園角落教學幼兒園、全職家庭主婦。</p><p>
          3.目前從事工作-專職MME研究員&分析師。</p>
          
        </a>
      </div>
    </div>
  </div>
</Layout>
