---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mname = "黃鈴諭";
const mimg = "/images/analyst/at0010.png";
const mytitle = "分析師:"+mname;
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img src={mimg} class="object-scale-down w-96">
      </div>
      <div class="p-8">
        <div class="uppercase tracking-wide text-lg text-indigo-500 font-semibold">{mname} 1977.01.16</div>
        <a href="#" class="block mt-1 text-sm leading-tight font-medium text-black word-break">
          <p>1.自我專長</p><p>
          ◎ 個別化教育計畫擬定</p><p>
          ◎ 實驗教育諮詢</p><p>
          </p><p>
          2.學經歷</p><p>
          ◎ 東海大學法律系</p><p>
          ◎ 法務人員</p><p>
          ◎ 財團法人人本教育文教基金會父母成長班小組長、活動企劃、數學想想國教師</p><p>
          ◎ 羽白群學行政、高年級導師 2017~2018</p><p>
          ◎ 社團法人羽白群學學會秘書長 2017~2018</p><p>
          </p><p>
          3.目前從事工作</p><p>
          ◎ 學校型態、非學校型態實驗教育審議會委員 </p><p>
          ◎ 社團法人中華民國振鐸學會秘書</p><p>
          ◎ 實驗教育工作者/教師</p><p>
          </p><p>
          4.服務網站聯結 Email：braincoachtw@gmail.com</p><p>
          
        </a>
      </div>
    </div>
  </div>
</Layout>
