---
import { Icon } from 'astro-icon';
---

<section class="bg-blue-50 dark:bg-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> 教育的共同語言:</span
    > 幫助人們真正認識自己，重新修正、肯定人生價值
  </div>
</section>
