---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero3.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <Hero
    callToAction={{ text: '創業格言', href: 'https://github.com/onwidget/astrowind' }}
    callToAction2={{ text: '理事長的話', href: 'https://github.com/onwidget/astrowind' }}
    image={{ src: import('~/assets/images/banner.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      MME<span class="hidden lg:inline">中華量身教育國際研究會<br class="2xl:hidden"/></span>
      <span class="text-accent dark:text-white highlight">教育的共同語言</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Mind-Measurement Education Association</span></span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"> </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->



  <!-- Steps Widget ****************** -->


  <!-- Features2 Widget ************** -->

  <Features2
    title="我們的服務項目"
    subtitle=""
    highlight="Our Service"
    items={[
      {
        title: '成為腦的最佳主人',
        description:
          '成為腦的最佳主人，認識學習風格(待補文章1)',
        icon: 'flat-color-icons:template',
      },
      {
        title: '認識腦的學習途徑',
        description:
          '說明文字(待補文章2)',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: '諮詢專線',
        description:
          '電話 02-2322-5018',
        icon: 'flat-color-icons:advertising',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->



  <!-- FAQs Widget ******************* -->

  <FAQs
    title="常見問題"
    subtitle="我們蒐集了一下關於我們的常見問題"
    highlight="FAQs"
    items={[
      [
        {
          question: '我們的聯絡電話？',
          answer:
            '<div>電話 02-2322-5018</div> 傳真 02-2321-5506',
        },
        {
          question: '關於研究會的地址？',
          answer:
            "台北市中正區重慶南路二段57-2號9樓",
        },
      ],
      [
        {
          question: "(待補問題3)",
          answer:
            "(待補答案3)",
        },
        {
          question: '(待補問題4)',
          answer:
            "(待補答案4)",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: '累積的個案', value: '10K+' },
      { name: '訪談的人數', value: '14.8K+' },
      { name: '座談會', value: '100+' },
      { name: '交流會', value: '200+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: '和我們聯繫',
      href: 'https://google.com',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      馬上加入 <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">MME</span>
    </Fragment>

    <Fragment slot="subtitle">
      (待補描述)
    </Fragment>
  </CallToAction>
</Layout>
