---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import boss from '~/assets/images/aboutboss.jpg';
import { headerData } from '~/data';
const meta = {
  title: "理事長的話",
};
---

<img src="/images/aboutboss.jpg" width="400" alt="image description1" />
<Layout {meta}>
  <Fragment slot="header">
    <Header
      {...headerData}
      showRssFeed
      showToggleTheme
      position="left"
    />
  </Fragment>
  <img src="/images/aboutboss.jpg" width="400" alt="image description2" />
  <!-- Hero2 Widget ******************* -->
  
  <Hero
  >
    <Fragment slot="title">
      理事長的話12
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">現在就讓我們一起來探討腦的心智與發展狀況吧!因為我們都要成為腦的最主人!</span><br /><span>
        MME檢測文析是為了明白大腦的相互運作下,所產生的:性格分析﹑人際關係﹑身體狀況﹑腦與認知﹑學習風格﹑腦的優勢策略與未來成就｡每一個人的大腦都有自己一套獨一無二的思考模式,這思考模式在運作上身受教養環境的刺激而將引發了化學變化,如敏感﹑情緒﹑神經的放電不均﹑某種能力缺失...等反應,它讓我們在學習上與先天性格上產生個別差異化｡然而我們的腦扔會努力以它的優勢取得成就感,但若受環境上不當的教導與刺激,他很可能形成初期學習干擾或是行為偏差｡
          <br><br>
        MME研發中心經十幾年誠信研究與訪談的量化統計,以腦神經心理學為學習背景將研究成果程式化後,以電腦程式排列組合所以做的評估報告｡接受此項檢測的你需知道的是:後天的環境因素及教養策略,扔是有價值的,因他是評估此人先天潛能運作時受到的衝擊,所產生出腦的因果回饋,表現在行為﹑認知上的反應,是腦科學與腦神經心理學的整合所轉換出的語言,[不是算命!]｡
      </span>
      </Fragment>

    <Fragment slot="image">
      <img src={boss} width="40" alt="image description" />
    </Fragment>
  </Hero>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
