---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const mytitle = "親職講座：孩子的思考改變術暨陽光家庭啟動儀式";
const meta = {
  title: SITE.title + " {" + mytitle + "}",
  link: SITE.description,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Content Widget **************** -->


<img src="/images/news/f4407f2c9324b56aa19fa994d5552b79.gif">
<div> 2017年，量身教育國際研究會（簡稱MME）從心出發，跨出很重要的一步——致力於讓千萬家庭成為陽光家庭，傳遞正能量！</div>
<img src="/images/news/a8d5421aaa4c6fbfa0b7b8ae62147226.gif">
<div>我們將集國內外的專家們來打造最優質的陽光家庭！
  <br>我們將舉辦陽光家庭計畫啟動儀式，誠邀您一起體驗並見證這重要的一刻！</div>
<img src="/images/news/fd249af4e3857522f5f1df5119530af8.gif">
<div>廈門陽光少年訓練營</div>
<img src="/images/news/a1fcbe052f6dd136c53afe0697f9ad39.gif">
<div>廈門陽光少年訓練營</div>
<img src="/images/news/b5a6326e03b24b175519b04b8b7ddf76.gif">
<div>杭州陽光家庭</div>
<img src="/images/news/933df0141a5ab2df897ddeb7d82f00e3.gif">
<img src="/images/news/9efbde9b7d30036f0d96e86bba6f2b19.gif">
<div>  美國南加州大學榮譽博士
<br>
<br>  量身教育國際研究會執行長
<br>  一位有愛有能量的老師
<br>  30年教育經驗，曾9次創業，每一次都創造豐盛
<br>  至今研發的兩個工具——MME先天身心潛能優勢測評、MME繪畫分析
<br>  將深入的知識以淺顯易懂的方式讓人明白，成為瞭解人類心智的鑰匙
<br>  一生為“教育的共同語言”而努力
<br>  經賴老師的指引，許多人的人生而發生變化，是難得的人生導師！
<br>  賴老師一直以來提倡陽光家庭，2017年，她將帶領MME團隊一起將陽光家庭公益計畫落地、開花！</div>

</Layout>
